doctype html
html
  head
    title= title

    block style
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel = 'stylesheet', href='/stylesheets/dist/css/vendor/bootstrap.min.css')

      link(rel = 'stylesheet', href='/stylesheets/dist/css/flat-ui.css')
      link(rel = 'stylesheet', href='/stylesheets/docs/assets/css/demo.css')
      link(rel = 'stylesheet', href='/stylesheets/dist/css/flat-ui.css')

    block scripts
      script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
      script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
      script(src='https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js', crossorigin='anonymous')
      script(src='http://vjs.zencdn.net/6.6.3/video.js')
      script(src='/stylesheets/dist/scripts/flat-ui.js')
      script(src='/stylesheets/docs/assets/js/application.js')
    
  body
    block nav
    .row.demo-row
      .col
        nav.navbar.navbar-inverse.navbar-embossed.navbar-expand-lg(role="navigation")
          a.navbar-brand(href="index.html") HOME
          |             
          button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar-collapse-01")
          |             
          #navbar-collapse-01.collapse.navbar-collapse
            ul.nav.navbar-nav.mr-auto
              li
                a(href="#fakelink")
                  | Menu Item
                  span.navbar-unread 1
              |                 
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") Messages
                |                   
                span.dropdown-arrow
                |                   
                ul.dropdown-menu
                  li
                    a(href="#") Action
                  |                     
                  li
                    a(href="#") Another action
                  |                     
                  li
                    a(href="#") Something else here
                  |                     
                  li.divider
                  |                     
                  li
                    a(href="#") Separated link
              |                 
              li
                a(href="main.html") Main
              |                 
              li
                a(href="Aboutus.html") About Us
            |                
            form.navbar-form.form-inline.my-2.my-lg-0(action="#", role="search")
              .form-group
                .input-group
                  input#navbarInput-01.form-control(type="search", placeholder="Search")
                  |                     
                  span.input-group-btn
                    button.btn(type="submit")
                      span.fui-search
      	  

    block content
    block foot
      footer(class='rfooter') Copyright © 2018-2028 SYSU, All Rights Reserved
