extend layout2

block content
  .demo-type-example
  h3.center Welcome #{nameontitle}
  |     
  .demo-type-example
    p.lead.center
      | A simple, clean app for stock information
      br
      | Let us do the math!
  |     
  .demo-type-example
    img.img-rounded.img-responsive.img-center(src="/stylesheets/docs/assets/images/example-image.jpg", alt="example-image")
    |             
    p.img-comment.center
      strong Note:
      |  gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  |     
  .viewbtn
    a.btn.btn-block.btn-lg.btn-info(href="#fakelink") view
