extends layout1

block scripts
  script(src = '/javascripts/jquery-3.2.1.min.js')
  script(src = '/javascripts/signup.js')
  script(src="https://cdn.bootcss.com/limonte-sweetalert2/7.21.1/sweetalert2.js")
  link(rel='stylesheet', href='https://cdn.bootcss.com/limonte-sweetalert2/7.21.1/sweetalert2.css')
  

block content
  link(rel='stylesheet', href='/stylesheets/background.css')
  .signup
    .login-form
      .sborder
        p.signuptitle 注册
        |
        .form-group.signup-group
          p.signupinfo 注册邮箱
          |
          input#e-mail.form-control.signup-field.signup-form(type="email", value="", placeholder="请输入正确的格式邮箱")
        |
        |
        .form-group.signup-group
          p.signupinfo 用户名
          |
          input#username.form-control.signup-field.signup-form(type="text", value="", placeholder="用户名")
        |
        .form-group.signup-group
          p.signupinfo 密码
          |
          input#password.form-control.signup-field.signup-form(type="password", value="", placeholder="密码")
        |
        .form-group
          p.signupinfo 确认密码
          |
          input#confpassword.form-control.signup-field.signup-form(type="password", value="", placeholder="确认密码")
        |
        a.btn.btn-primary.btn-lg.btn-block(href="#") 注册




























