extend layout2

block content
  .userinfo
    .icon
      img(src="/resource/mine_fill.svg")
    |       
    .info-content
      p
        | 用户名: #{username}
        br
        |            邮箱: #{useremail}
        br
        |            自选股数量: #{userstocknum}
      |         
      a.smalllink(href="#fakelink") 查看我的自选股
      br
      |         
      a.smalllink(href="#fakelink") 添加自选股
