.rfooter {
	height: 25px;
	text-align: center;
	background-color: rgb(31, 42, 58);
	position: fixed;
    bottom: 0;
    width: 100%;
}

html {
	width: 100%;
	height: 100%;
}

.icon {
	text-align: center;
}

.info {
	height: 450px;
	width: 300px;
	background-color: rgb(31, 42, 58);
	border-radius: 20px;
	margin: auto;
	text-align: center;
}

.userinfo {
	height: 450px;
	width: 300px;
	background-color: #ECF0F1;
	border-radius: 20px;
	margin: auto;
	text-align: center;
}

.info-content {
	padding: 10px;
}

.description {
	color: white;
}

.smalllink {
	color: black;
	font-size: 10px;
}

.more {
	color: white;
	font-size: 12px;
	text-align: center;
}

.user {
	color: white;
	font-size: 15px;
	text-align: center;
	margin-right: 0px;
}

.stock {
	cursor: pointer;
	color: white;
}

.stockname {
	color: white;
}

#graph {
	height: 450px;
	width: 800px;
	background-color: white;
	border-radius: 20px;
	margin: auto;
	text-align: left;
}

.signup {
	width: 450px;
	margin: auto;
}

.signuptitle {
	color: white;
	font-size: 24px;
	text-align: center;
}

.signupinfo {
	color: white;
	font-size: 13px;
	margin: auto;
}

.signup-field {
	border-color: transparent;
    font-size: 12px;
    text-indent: 3px;
}

.signup-form {
	height: 30px !important;
}

.signup-group {
	margin-bottom: 5px
}

.center {
	text-align: center;
}

.img-center {
	position: relative;
	left: 27%;
	margin: auto;
}

.viewbtn {
	position: relative;
	left: 38%;
	width: 300px;
	margin-bottom: 50px; 
}

.search {
	position: relative;
	left: 35%;
	width: 400px;
}

.searchtitle {
	font-size: 25px;
}

.info-row {
	margin-left: 20px !important;
	margin-right: 20px !important;
	margin-top: 40px;
}

.infostock {
	pointer-events: none;
}

.choose {
	width: 300px !important;
	position: relative;
	left: 39.3%;
	margin-top: 30px;
}

.follow {
    width: 150px !important;
    position: relative;
    left: 86%;
    margin-top: 40px;
}






